@model Examen2Unidad2.Models.TODO

@{
    ViewData["Title"] = "Create";
}

    <div class="text-center">

      
            <form asp-action="Create" class="align-content-center">
                <div class="card text-center">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-header">
                        <h4>Create a new task to do</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="TODOName" class="control-label"></label>
                            <input asp-for="TODOName" class="form-control" />
                            <span asp-validation-for="TODOName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TODOstart" class="control-label"></label>
                            <input asp-for="TODOstart" class="form-control" />
                            <span asp-validation-for="TODOstart" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TODOfinish" class="control-label"></label>
                            <input asp-for="TODOfinish" class="form-control" />
                            <span asp-validation-for="TODOfinish" class="text-danger"></span>
                        </div>

                        <input type="submit" value="Create" class="btn btn-outline-warning btn-lg" />

                    </div>
                    <div class="card-footer text-muted">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </div>
            </form>
     </div>
  


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
