@model Examen2Unidad2.Models.DONE

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <form asp-action="Edit" class="align-content-center">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="card-header">
            <h4>Edit a done task</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="doneID" class="control-label"></label>
                <input asp-for="doneID" class="form-control" />
                <span asp-validation-for="doneID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DONEName" class="control-label"></label>
                <input asp-for="DONEName" class="form-control" />
                <span asp-validation-for="DONEName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doneSTATUS" class="control-label"></label>
                <input asp-for="doneSTATUS" class="form-control" />
                <span asp-validation-for="doneSTATUS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="doneDATE" class="control-label"></label>
                <input asp-for="doneDATE" class="form-control" />
                <span asp-validation-for="doneDATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectID" class="control-label"></label>
                <select asp-for="projectID" class="form-control" asp-items="ViewBag.projectID"></select>
            </div>
            <div class="form-group">

                <input type="submit" value="Edit" class="btn btn-outline-success btn-lg" />

            </div>
            <div class="card-footer text-muted">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
